{% extends "base.html" %}

{% load static %}

{% block title %} News {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">News</h4>
                        <div class="data-tables datatable-dark">
                            <table class="table table-dark text-center">
                                <thead class="text-capitalize">
                                <tr>
                                    <th>Image</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Date of Crime</th>
                                    <th>status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for new in news %}
                                    <tr>
                                        <td class="col-sm-1"><img src="{{ new.citizen_image.url }}" class="img-responsive rounded-circle" alt="image" style="width: 100%;"></td>
                                        <td>{{ new.first_name }}</td>
                                        <td>{{ new.last_name }}</td>
                                        <td>{{ new.gender }}</td>
                                        <td>{{ new.date_of_crime }}</td>
                                        <td>{{ new.status }}</td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#id_citizen{{ new.pk }}">
                                                details
                                            </button>
                                        </td>

                                            <!-- Modal -->
                                            <div class="modal fade" id="id_citizen{{ new.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content bg-dark text-white">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title text-white" id="exampleModalLongTitle">News Details</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{ new.first_name }}<br>
                                                            {{ new.last_name }}<br>
                                                            {{ new.gender }}<br>
                                                            {{ new.address }}<br>
                                                            {{ new.contact_email }}<br>
                                                            {{ new.contact_number }}<br>
                                                            {{ new.date_of_case }}<br>
                                                            {{ new.description }}<br>
                                                            {{ new.status }}<br>
                                                        </div>
{#                                                        <div class="modal-footer">#}
{#                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                                                             <a href="{% url 'detection:download-csv-file' %}">#}
{#                                                                <button type="button" class="btn btn-dark">Download</button>#}
{#                                                            </a>#}
{#                                                        </div>#}
                                                    </div>
                                                </div>
                                            </div>

{#                                        <td><a href="{% url 'detection:download-csv-file' %}">Download Info</a></td>#}
{#                                        <td>#}
{#                                            {% if citizen.status == 'Free' %}#}
{#                                            <a href="{% url 'wanted_citizen' citizen_id=citizen.pk %}" class="btn-danger">Wanted</a>#}
{#                                            {% elif citizen.status == 'Found' %}#}
{#                                            <a href="{% url 'wanted_citizen' citizen_id=citizen.pk %}" class="btn-danger">Wanted</a>#}
{#                                            {% else %}#}
{#                                            <a href="{% url 'free_citizen' citizen_id=citizen.pk %}"  class="btn-success">Found</a>#}
{#                                            {% endif %}#}
{#                                        </td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark table end -->
        </div>
    </div>
{% endblock %}
{% block js_content %}
    <script src="{% static  'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
{% endblock %}