{% extends "base.html" %}

{% load static %}

{% block title %} News {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Cases</h4>

                        <div style="overflow-x:auto;">
                            <table class="table table-dark text-center">
                                <thead class="text-capitalize">
                                <tr>
                                    <th>Image</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date of Case</th>
                                    <th>status</th>
                                    <th>Approve</th>
                                    {% if user.is_staff or user.is_superuser %}
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    {% endif %}
                                    <th>Details</th>
                                    {% if not user.is_staff %}
                                        <th>Feedback</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% if cases %}
                                    {% for case in cases %}
                                        <tr>
                                        {% if user.is_superuser or user.is_staff %}
                                            <td class="col-sm-1"><img src="{{ case.image.url }}" alt="image" class="img-responsive rounded-circle" style="width: 100%"></td>
                                            <td>{{ case.case_first_name }}</td>
                                            <td>{{ case.case_last_name }}</td>
                                            {% if not case.date_of_case %}
                                                <td>{{ case.updated_at }}</td>
                                            {% else %}
                                                <td>{{ case.date_of_case }}</td>
                                            {% endif %}
                                            <td>{{ case.status }}</td>
                                            <td>
                                                <a href="#" {% if user.is_superuser or user.is_staff %} data-toggle="modal" data-target="#id_case_approve{{ case.pk }}" {% endif %}>
                                                    {% if case.is_approved %}
                                                        <i style="color: green" class="fas fa-check-circle"></i>
                                                    {% else %}
                                                        <i style="color: crimson" class="fas fa-times-circle"></i>
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <div class="modal fade" id="id_case_approve{{ case.pk }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title text-white">Approve</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% if not case.is_approved %}
                                                                <h4 class="text-dark">Are you sure you want to approve this case ?</h4>
                                                            {% else %}
                                                                <h4 class="text-dark">Are you sure you want to disapprove this case ?</h4>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a  type="button" href="{% url 'cases:approve-case' case.pk %}" class="btn btn-dark text-white">
                                                                {% if case.is_approved %}
                                                                    Change to pending
                                                                {% else %}
                                                                    Approve
                                                                {% endif %}
                                                            </a>
                                                            <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if user.is_staff or user.is_superuser %}
                                                <td>
                                                    <a href="{% url 'cases:edit-case' case.id %}">
                                                        <span style="color: lightblue"><i class="fas fa-edit"></i></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" data-toggle="modal" data-target="#id_case_delete{{ case.pk }}">
                                                        <span style="color: crimson" ><i class="fas fa-trash-alt"></i></span>
                                                    </a>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#id_case_detail{{ case.pk }}">
                                                    <span style="color: yellow"><i class="fas fa-info-circle"></i></span>
                                                </a>
                                            </td>

                                            <!-- Modal -->
                                            <div class="modal fade" id="id_case_detail{{ case.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" id="exampleModalLongTitle">Case Details</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <span class="text-info">Case filed by: </span>&emsp;<a href="{% url 'accounts:profile-info' case.user.id %}">{{ case.user }}</a><br>
                                                            <span class="text-info">Case Title: </span>&emsp;{{ case.title }}<br>
                                                            <span class="text-info">First Name: </span>&emsp;{{ case.case_first_name }}<br>
                                                            <span class="text-info">Last Name: </span>&emsp;{{ case.case_last_name }}<br>
                                                            <span class="text-info">Case Location: </span>&emsp;{{ case.case_location }}<br>
                                                            <span class="text-info">Date of case: </span>&emsp;{{ case.date_of_case }}<br>
                                                            <span class="text-info">Description: </span>&emsp;{{ case.case_description }}<br>
                                                            <span class="text-info">Status: </span>&emsp;{{ case.status }}<br>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a href="{% url 'cases:download-case' case.pk %}">
                                                                <button type="button" class="btn btn-dark">Download</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Delete Modal -->
                                            <div class="modal fade" id="id_case_delete{{ case.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content bg-dark text-white">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title text-white" id="exampleModalLongTitle">Citizen Delete</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-white">Are you sure you want to delete "{{ case.first_name }}"?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <a href="{% url 'cases:delete-case' case.pk %}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        {% elif case.is_approved and not user.is_superuser and not user.is_staff %}
                                        <tr>
                                            <td class="col-sm-1"><img src="{{ case.image.url }}" alt="image" class="img-responsive rounded-circle" style="width: 100%"></td>
                                            <td>{{ case.case_first_name }}</td>
                                            <td>{{ case.case_last_name }}</td>
                                            {% if not case.date_of_case %}
                                                <td>{{ case.updated_at }}</td>
                                            {% else %}
                                                <td>{{ case.date_of_case }}</td>
                                            {% endif %}
                                            <td>{{ case.status }}</td>
                                            <td>
                                                <span {% if user.is_superuser or user.is_staff %} data-toggle="modal" data-target="#id_case_approve{{ case.pk }}" {% endif %}>
                                                    {% if case.is_approved %}
                                                        <i style="color: green" class="fas fa-check-circle"></i>
                                                    {% else %}
                                                        Pending
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <div class="modal fade" id="id_case_approve{{ case.pk }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title text-white">Approve</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% if not case.is_approved %}
                                                                <h4 class="text-dark">Are you sure you want to approve this case ?</h4>
                                                            {% else %}
                                                                <h4 class="text-dark">Are you sure you want to disapprove this case ?</h4>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a  type="button" href="{% url 'cases:approve-case' case.pk %}" class="btn btn-dark text-white">
                                                                {% if case.is_approved %}
                                                                    Change to pending
                                                                {% else %}
                                                                    Approve
                                                                {% endif %}
                                                            </a>
                                                            <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if user.is_staff or user.is_superuser %}
                                                <td>
                                                    <a href="{% url 'cases:edit-case' case.id %}">
                                                        <span style="color: lightblue"><i class="fas fa-edit"></i></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" data-toggle="modal" data-target="#id_case_delete{{ case.pk }}">
                                                        <span style="color: crimson" ><i class="fas fa-trash-alt"></i></span>
                                                    </a>
                                                </td>
                                            {% endif %}

                                            <td>
                                                <a href="#" data-toggle="modal" data-target="#id_case_detail{{ case.pk }}">
                                                    <span style="color: yellow"><i class="fas fa-info-circle"></i></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'feedback:feedback' %}">Send Feedback</a>
                                            </td>

                                            <!-- Modal -->
                                            <div class="modal fade" id="id_case_detail{{ case.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" id="exampleModalLongTitle">Case Details</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <span class="text-info">Case Title: </span>&emsp;{{ case.title }}<br>
                                                            <span class="text-info">First Name: </span>&emsp;{{ case.case_first_name }}<br>
                                                            <span class="text-info">Last Name: </span>&emsp;{{ case.case_last_name }}<br>
                                                            <span class="text-info">Case Location: </span>&emsp;{{ case.case_location }}<br>
                                                            <span class="text-info">Date of case: </span>&emsp;{{ case.date_of_case }}<br>
                                                            <span class="text-info">Description: </span>&emsp;{{ case.case_description }}<br>
                                                            <span class="text-info">Status: </span>&emsp;{{ case.status }}<br>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{% url 'cases:download-case' case.pk %}">
                                                                <button type="button" class="btn btn-dark">Download</button>
                                                            </a>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Delete Modal -->
                                            <div class="modal fade" id="id_case_delete{{ case.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" id="exampleModalLongTitle">Case Delete</h2>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4 class="text-dark">Are you sure you want to delete "{{ case.first_name }}"?</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{% url 'cases:delete-case' case.pk %}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </a>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </tr>

                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">
                                            <h4 style="color: red">*Data Not Available*</h4>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table end -->
    </div>
{% endblock %}