{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered text-center">
                <i class="fas fa-image fa-10x"></i>
{#                <img class="card-img-top img-fluid" src="{% static  'assets/img/12345.png'%}" alt="image">#}
                <div class="card-body text-center">
                    <h5 class="title">Upload Citizen Picture</h5>

                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">Upload Picture</button>
                    <div class="modal fade" id="exampleModalLong">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Upload Citizen Picture</h5>
                                </div>
                                <form method="post" id="id_image_detect" action="{% url 'detection:detect-image' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input id="inpFile" type="file" name="image"  required>
                                    </div>
                                    <div class="modal-footer">
                                        <a  type="button" class="btn btn-dark" data-dismiss="modal">Close</a>
                                        <button type="submit" class="btn btn-dark">Process</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered text-center">
                <i class="fas fa-camera fa-10x"></i>
                <div class="card-body">
                    <h5 class="title">Upload Citizen Video</h5>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#uploadVideo">Upload Video</button>
                    <div class="modal fade" id="uploadVideo">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Upload Citizen Video</h5>
                                </div>
                                <form method="post" action="{% url 'detection:detect-video' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input type="file" name="video" required>
                                    </div>

                                    <div class="modal-footer">
                                        <a  type="button" class="btn btn-dark" data-dismiss="modal">Close</a>
                                        <button type="submit" class="btn btn-dark">Process</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered text-center">
                <i class="fas fa-video fa-10x"></i>
                <div class="card-body text-center">
                    <h5 class="title">Detect Using Webcam.</h5>
                    <a href="{% url 'detection:detect-webcam' %}" class="btn btn-dark">Open Webcam</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-5">View Notices</h2>
    <div class="row ">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="row no-gutters d-flex align-items-center justify-content-center ">
                    <div class="col-auto">
                        <img src="{% static 'assets/img/wanted.png' %}" class="img-fluid" alt="" style="height: 200px; width: 130px">
                    </div>
                    <div class="col">
                        <div class="card-block px-4">
                            <h2 class="card-title text-info">Wanted</h2>
                            <p class="card-text">View and search public Notices for wanted criminals</p>
                            <br>
                            <a href="{% url 'cases:missing-list' %}" class="alert-link mt-3">Click Here
                                <i class="tim-icons icon-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="row no-gutters d-flex align-items-center justify-content-center ">
                    <div class="col-auto">
                        <img src="{% static 'assets/img/missing.png' %}" class="img-fluid" alt="" style="height: 200px; width: 150px">
                    </div>
                    <div class="col">
                        <div class="card-block px-4">
                            <h2 class="card-title text-info">Missing</h2>
                            <p class="card-text">View and search public Notices for missing persons</p>
                            <br>
                            <a href="{% url 'cases:missing-list' %}" class="alert-link mt-3">Click Here
                                <i class="tim-icons icon-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="row no-gutters d-flex align-items-center justify-content-center ">
                    <div class="col-auto">
                        <img src="{% static 'assets/img/solved.jpg' %}" class="img-fluid" alt="" style="height: 200px; width: 150px">
                    </div>
                    <div class="col">
                        <div class="card-block px-4">
                            <h2 class="card-title text-info">Closed Cases</h2>
                            <p class="card-text">View closed cases</p>
                            <br><br>
                            <a href="{% url 'cases:found-list' %}" class="alert-link mt-3">Click Here
                                <i class="tim-icons icon-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    <script>
    $('#id_image_detect').submit(function(){
        $("#id_image_detect").append("<h4 class='text-dark'>Processing...</h4>");
    })
    </script>
{% endblock javascripts %}




