{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mx-auto">
                    <div class="card-header">
                        <h5 class="title">Login</h5>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" action="">
                            {% csrf_token %}

{#                            {% if messages %}#}
{#                            {% for message in messages %}#}
{#                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">#}
{#                                    <strong>{{ message.tags }} ! </strong>{{message}}#}
{#                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                        <span aria-hidden="true">&times;</span>#}
{#                                    </button>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <br />#}
{#                            Enter your credentials to get access#}
{#                        {% endif %}#}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        {{ form.username }}
                                        <span class="text-danger">{{ form.username.errors }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        {{ form.password }}
                                        <span class="text-danger">{{ form.password.errors }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" name="login" class="btn btn-fill btn-dark">Login</button>
                                <br>Don't have an account? <a href="{% url 'accounts:register' %}" class="text-primary">Create</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

