{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/css.html' %}
    <title>Password Change</title>
</head>
<body>
<div class="container pt-md-5">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="card">

                <form role="form" method="post" action="">
                    {% csrf_token %}
                    <div class="card-header">
                        <h5 class="title">Change Password</h5>

                        <h6 class="card-category">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                        <strong>{{ message.tags }} ! </strong>{{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <br />

                            {% endif %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                        {% if formset.non_form_errors %}
                                            <div class="alert alert-danger">
                                                <ul>
                                                    {% for error in formset.non_form_errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </h6>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    {{ form.old_password }}
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>New Password</label>
                                    {{ form.new_password1 }}
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>New Password Confirm</label>
                                    {{ form.new_password2 }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">

                        <button type="submit" class="btn btn-dark">Save</button>
                        <a href="{% url 'accounts:dashboard' %}">Cancel</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



</form>
</body>
</html>