{% extends "base.html" %}

{% load static %}

{% block title %} Staffs {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% load static %}
    <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">View Staff</h4>
                        <div style="overflow-x:auto;">
                            <div class="data-tables datatable-dark">
                                <table class="table table-dark text-center">
                                    <thead class="text-capitalize">
                                    <tr>
                                        <th>Image</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Status</th>
                                        {% if user.is_superuser %}
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        {% endif %}
                                        <th>Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if staff %}
                                        {% for stf in staff %}
                                            <tr>
                                                <td class="col-sm-1"><img src="{{ stf.profile_image.url }}" class="img-responsive rounded-circle" alt="image" style="width: 100%;"></td>
                                                <td>{{ stf.user.first_name }}</td>
                                                <td>{{ stf.user.last_name }}</td>
                                                <td>{{ stf.user.username}}</td>
                                                <td>{{ stf.status }}</td>

                                                {% if user.is_superuser %}
                                                    <td>
                                                        <a href="{% url 'accounts:update-staff' stf.pk %}">
                                                            <span style="color: lightblue"><i class="fas fa-edit"></i></span>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a href="#" data-toggle="modal" data-target="#id_staff_delete{{ stf.pk }}">
                                                            <span style="color: crimson" ><i class="fas fa-trash-alt"></i></span>
                                                        </a>
                                                    </td>
                                                {% endif %}

                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#id_staff{{ stf.pk }}">
                                                        Details
                                                    </button>
                                                </td>
                                                <!--Details Modal -->
                                                <div class="modal fade" id="id_staff{{ stf.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content bg-dark text-white">
                                                            <div class="modal-header">
                                                                <h2 class="modal-title text-white" id="exampleModalLongTitle">Staff Details</h2>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <span class="text-info">First Name: </span>&emsp;{{ stf.user.first_name }}<br>
                                                                <span class="text-info">Last Name: </span>&emsp;{{ stf.user.last_name }}<br>
                                                                <span class="text-info">Username: </span>&emsp;{{ stf.user.username }}<br>
                                                                <span class="text-info">Email: </span>&emsp;{{ stf.user.email }}<br>
                                                                <span class="text-info">Date of Birth: </span>&emsp;{{ stf.birth_date }}<br>
                                                                <span class="text-info">Gender: </span>&emsp;{{ stf.gender }}<br>
                                                                <span class="text-info">Phone Number: </span>&emsp;{{ stf.phone_number }}<br>
                                                                <span class="text-info">Address: </span>&emsp;{{ stf.address }}<br>
                                                                <span class="text-info">Nationality: </span>&emsp;{{ stf.nationality }}<br>
                                                                <span class="text-info">Citizenship Number: </span>&emsp;{{ stf.citizenship_number }}<br>
                                                                <span class="text-info">Bio: </span>&emsp;{{ stf.bio }}<br>
                                                                <span class="text-info">Status: </span>&emsp;{{ stf.status }}<br>
                                                                <span class="text-info">is active: </span>&emsp;{{ stf.user.is_active }}<br>
                                                                <span class="text-info">is staff: </span>&emsp;{{ stf.user.is_staff }}<br>
                                                                <span class="text-info">is superuser: </span>&emsp;{{ stf.user.is_superuser }}<br>
                                                                <span class="text-info">Last Login: </span>&emsp;{{ stf.user.last_login }}<br>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <a href="{% url 'detection:download-csv-file' stf.pk %}">
                                                                    <button type="button" class="btn btn-dark">Download</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Delete Modal -->
                                                <div class="modal fade" id="id_staff_delete{{ stf.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content bg-dark text-white">
                                                            <div class="modal-header">
                                                                <h2 class="modal-title text-white" id="exampleModalLongTitle">Staff Delete</h2>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-white">Are you sure you want to delete "{{ stf.user.first_name }}"?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <a href="{% url 'accounts:delete-staff' stf.pk %}">
                                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="8">
                                            <h4 style="color: red">*Data Not Available*</h4>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark table end -->
        </div>
    </div>
{% endblock %}