{% load static %}
<link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'assets/fontawesome/css/all.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/mycss.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/sidebar.css' %}" rel="stylesheet" />
{#    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />#}
<link href="{% static 'assets/css/cropper.min.css' %}" rel="stylesheet" />