
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="#" class="nav-link">
             Human Face Recognition
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="{% url 'accounts:dashboard' %}">Human Face Recognition</a>
          <a target="_blank" href="https://appseed.us?ref=ct-demo">-2020</a>.
      </div>
    </div>
  </footer>
